
/* ==========================================================================
   General
   ========================================================================== */

/* defaults for pages
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  */

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #e67e22;
    line-height: 1.6em;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-wrap: hidden;

}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/computercode1.jpg);
    background-size: cover;
    background-position: center;
    /* cover 100% of viewport */
    height: 100vh;
    /* allow content to slide on top of image */
    background-attachment: fixed;
}

.hero-text {
    margin-top: 50%;
    /*	The element is positioned relative to its first positioned (not static) ancestor element; may need to remove margin-top if
    nav is added */
    position: absolute;
    width: 100%;
    /* center hero in middle of div*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ==========================================================================
   About Me
   ========================================================================== */

#about {
    padding: 20px 0;
}

#about p {
    font-size: 110%;
    text-align: justify;
}

#about p img {
    float: left;
    margin-right: 15px;
}

/* ==========================================================================
   Homework
   ========================================================================== */
#homework {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #eee;

}

.homework-photo {
    height: 200px;
    /* ensures photo does not run over div boundaries */
    overflow: hidden;
    background-color: #000;
    
}

.homework-photo img {
    opacity: 0.7;
    /* scale is 115% */
    transform: scale(1.15);
    /* animate the scale and opacity */
    transition: transform 0.5s, opacity 0.5s;
    
  }

  .homework-photo img:hover {
    /* brings image back to 100% */
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(248, 248, 248, 0.7)), url(../img/computercode2.jpg);
    background-size: cover;
    background-position: center;
    height: 110px;
}