/* ==========================================================================
   General
   ========================================================================== */

/* defaults for pages
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  */

html {
  background-color: #fff;
  font-size: 10px;
  margin: 7rem;
}

body {
  background-color: #e67e22;
}

body {
  font-family: "Lato", sans-serif;
  color: #e67e22;
  line-height: 2.2rem;
  font-size: 2rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-wrap: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../img/computercode1.jpg);
  background-size: cover;
  background-position: center;
  /* cover 100% of viewport */
  height: 100vh;
  /* allow content to slide on top of image */
  background-attachment: fixed;
  /* clips edges off of sections exposing body element's color */
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

header h1 {
  font-size: 7rem;
}

.hero-text {
  margin-top: 40%;
  /*	The element is positioned relative to its first positioned (not static) ancestor element; may need to remove margin-top if
    nav is added */
  position: absolute;
  width: 100%;
  /* center hero in middle of div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partial-h1 {
  display: none;
}

.full-h1 {
  display: block;
  text-align: center;
}

/* pseudo-class for h2 elements */
.full-h1:after {
  display: block;
  height: 2px;
  background-color: #eee;
  /* must specify no content since using an 'after' psuedo-class */
  content: " ";
  width: 200px;
  margin: 0 auto;
  /* margin between the after psuedo-class and h2 */
  margin-top: 30px;
}

/* ==========================================================================
   Nav and Contact
   ========================================================================== */

#main-nav ul {
  margin-top: 50%;
  /*	The element is positioned relative to its first positioned (not static) ancestor element; may need to remove margin-top if
    nav is added */
  position: absolute;
  width: 100%;
  /* center hero in middle of div*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#main-nav li {
  list-style: none;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5em;
  display: inline-block;
}

#main-nav li a {
  text-decoration: none;
  color: #e67e22;
  margin: 1rem 0;
}

#main-nav li a:hover {
  color: #eee;
  transition: 0.7s;
}

/* ==========================================================================
   About Me
   ========================================================================== */

#about {
  padding: 4rem 0;
  background-color: #666;
}

#about p {
  text-align: justify;
  color: #fff;
  font-weight: 300;
}

#about p img {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

#about h3 {
  color: #fff;
}

/* ==========================================================================
   Homework
   ========================================================================== */

#homework {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #eee;
  /* clips edges off of sections exposing body element's color */
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
}

.homework-photo {
  height: 20rem;
  /* ensures photo does not run over div boundaries */
  overflow: hidden;
  background-color: #000;
}

.homework-photo img {
  opacity: 0.7;
  /* scale is 115% */
  transform: scale(1.15);
  /* animate the scale and opacity */
  transition: transform 0.5s, opacity 0.5s;
}

.homework-photo img:hover {
  /* brings image back to 100% */
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.full-label,
.partial-label,
.homework-link {
  display: block;
  color: #fff;
  padding: 0.4rem 0.4rem 1.5rem 1rem;
}

/* will display with small screen media query */
.partial-label {
  display: none;
}

/* ==========================================================================
     Dev Links
     ========================================================================== */

#dev-links {
  padding-top: 2rem;
  /*background-color: #d4d4d4;*/
  background-image: linear-gradient(
      rgba(230, 126, 34, 0.92),
      rgba(230, 126, 34, 0.92)
    ),
    url(../img/computercode2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 40rem;
  padding-bottom: 2em;
}

#dev-links h3,
p {
  color: #eee;
}

#dev-links h4 {
  color: #333;
}

#tech-resources li,
#blogs-inspiriation li {
  list-style: none;
}

#tech-resources li a,
#blogs-inspiriation li a {
  text-decoration: none;
  color: #fff;
  margin: 1rem 0;
}

#tech-resources li a:hover,
#blogs-inspiriation li a:hover {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  transition: 0.5s;
}

ion-icon {
  font-size: 64px;
  color: #333;
}

/* ==========================================================================
    Contact
    ========================================================================== */
#contact {
    padding-top: 2rem;
    background-color: #666;
}

#contact-nav h3 {
    color: #fff;
}

#contact-nav li {
  font-size: 1em;
  margin-left: 0px;
  display: inline-block;
}

#contact-nav li, #contact-nav li a {
  text-decoration: none;
  color: #fff;
  margin: 1rem 0;
}

#contact-nav li:first-child:hover,
#contact-nav li a:hover {
  color: #e67e22;
  transition: 0.7s;
}

#contact-nav li:first-child,
#contact-nav li:nth-child(2),
#contact-nav li:nth-child(3) {
  margin-right: 6em;
}

#contact-nav ion-icon {
  font-size: 16px;
  color: #fff;
}

/* ==========================================================================
   Animations
   ========================================================================== */

.js--about,
.js--homework,
.js--links,
.js--con {
  opacity: 0;
  animation-duration: 2s;
}

.js--about.animated,
.js--homework.animated,
.js--links.animated, 
.js--con.animated {
  opacity: 1;
}
