
/* ==========================================================================
   General
   ========================================================================== */

/* defaults for pages
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  */

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #12475f; */
    background-color: #fff;
    color: #e67e22;
    line-height: 1.6em;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-wrap: hidden;

}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/computercode1.jpg);
    background-size: cover;
    background-position: center;
    /* cover 100% of viewport */
    height: 100vh;
    /* allow content to slide on top of image */
    background-attachment: fixed;
}

.hero-text {
    margin-top: 50%;
    /*	The element is positioned relative to its first positioned (not static) ancestor element; may need to remove margin-top if
    nav is added */
    position: absolute;
    width: 100%;
    /* center hero in middle of div*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ==========================================================================
   Section Comment Block
   ========================================================================== */

#about {
    padding: 20px 0;
}

/* ==========================================================================
   Homework
   ========================================================================== */
#homework {
    padding: 20px 0;
    background-color: #f6f6f6;
}

.homework-photo {
    height: 200px;
    /* ensures photo does not run over div boundaries */
    overflow: hidden;
    background-color: #000;
    border: solid 1px #000;
}

.homework-photo img {
    opacity: 0.7;
    /* scale is 115% */
    transform: scale(1.15);
    /* animate the scale and opacity */
    transition: transform 0.5s, opacity 0.5s;
    
  }

  .homework-photo img:hover {
    /* brings image back to 100% */
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

/*
#showcase {
    height: 300px;

}

#showcase h1 {
    font-size: 50px;
    line-height: 1.3em;
    position: relative;
    animation-name: heading;
    animation-duration: 3s;
    //prevents animation from moving back up the page after dropping into location
    animation-fill-mode: forwards;
    
}

#showcase h2 {
    position: relative;
    animation-name: heading;
    animation-duration: 3s;
    //prevents animation from moving back up the page after dropping into location
    animation-fill-mode: forwards;
    
}

@keyframes heading {
    0% {top: -50px;}
    100% {top: 200px;}
}


==========================================================================
   Content
   ==========================================================================


#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {left: -1000px;}
    100% {left: 0;}
}


#content p, #homework p {
    margin-top: 20px;
    text-align: justify;
}

#content h3, #homework h3 {
    color: orange;

}

#homework ul li {
    display: inline;
}

#homework ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}

==========================================================================
   Homework
   ==========================================================================


#homework {
    position: relative;
    animation-name: homework;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes homework {
    0% {right: -1000px;}
    100% {right: 0;}
}

#homework ul {
    margin-top: 10px;
}

#homework ul li {
    display: inline-block;
}

#homework ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#homework ul li a:hover
{
    color: #fff;
    background-color: #369;
}

==========================================================================
   Media Queries
   ==========================================================================

@media (max-width: 600px) {
    #showcase h1 { 
        font-size: 45px;
    }
    body {
        background-color: #12475f;
    }
}

@media (max-width: 500px) {
    #showcase {
        height: 350px;
    }
    #showcase h1 {
        font-size: 45px;
    }
    body {
        background-color: #12475f;
    }
}

*/