
/* tablet */

@media screen and (max-width: 825px) {
    /* swap partial and full label */
    .full-label {
      display: none;
  }

  .partial-label {
      display: block;
  }
}


@media screen and (max-width: 786px) {
    header {
        /* REMOVE clipped edges off of sections exposing body element's color */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }
    #homework {
        /* REMOVE clipped edges off of sections exposing body element's color */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       
    }

    .hero-text {
        margin-top: 600px;
    }

  

}



/* mobile phone */
@media screen and (max-width: 475px) {
    .profile-pic {
        /* remove my picture */
        display: none;
    }

    body {
        /* reduce text size */
        font-size: 75%;
    }

    .partial-h1 {
        /* show the partial h1 text */
        display: block;
        font-size: 3em;
        text-align: center;
    }

    .full-h1 {
        /* hide the full h1 text */
        display: none;
    }
}
